.faq{
    display:flex;
    align-items:center;
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.07);
    padding: 10px 0;
}

.MuiAccordionSummary-content{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.MuiAccordionSummary-root{
padding: 0 !important;

}
.MuiAccordionDetails-root{
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.MuiAccordionDetails-root{
   
font-weight: 400;
font-size: 16px;
line-height: 24px;
  }
.faq-content{
    display:flex;
    align-items:center;
    padding:10px;
    font-weight: 600;
font-size: 18px;
line-height: 26px;
}
@media (max-width: 600px){
    
    .MuiAccordionDetails-root{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .faq{
        border-bottom: none;
    }
    .faq-box{
        border-bottom: 1.8px solid rgba(0, 0, 0, 0.07);
    }
    .faq svg{
        display: none;
    }
}
@media(max-width:450px){
    .faq span{
        font-size: 14px;
line-height: 24px;
    }
    .MuiAccordionDetails-root{
        font-size: 14px;
    line-height: 20px;
    
      }
    .faq-content{
        align-items: flex-start;
        font-size: 16px;
line-height: 24px;
    }
    .faq-dot{
        margin-top: 5px;
    }
}