.terms-and-conditions{
  width: 78%;
  margin: 50px auto;
  padding: 50px 80px;
  background: rgba(0, 133, 208, 0.1);
 margin-top: 150px; 
}
.tp-1{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #0085D0;
    text-align: center;
}
.tp-2{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #F91974;
}
.tp-content{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808285;
    margin-top: 20px;
    margin-bottom: 50px;
}
.tp-main{
    font-family: 'Source Sans 3';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
margin-bottom: 50px;
text-align: center;
color: #393939;
}
.tp-head{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #393939;
}
.tp-sub{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #393939;
}

@media (max-width: 1000px){
    .terms-and-conditions{
      width: 95%;
      padding: 50px;
    }
   
}
@media (max-width: 600px){
    .tp-1{
        font-weight: 700;
font-size: 20px;
line-height: 32px;
    }
    .tp-2{
        font-weight: 700;
font-size: 18px;
line-height: 28px;
    }
    .tp-content{
        font-weight: 400;
font-size: 14px;
line-height: 20px;
    }
    .tp-head{
        font-weight: 600;
font-size: 16px;
line-height: 24px;
    }
    .tp-sub{
        font-weight: 400;
font-size: 14px;
line-height: 20px;
    }
    .terms-and-conditions{
        
      padding: 50px 30px;
    }
}

@media (max-width:460px)
{
    .terms-and-conditions{
        margin-top: 100px;
    }
}
